<div class="container py-5 my-5 bg-light">
    <div class="row">
        <div class="col-12 text-left px-5 py-3">
        <h1 class="blog-header-logo text-dark"> About Us</h1>
    </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-6 text-left justify-content-center">
        <img class="rounded mx-auto d-block" src="{{site.baseurl}}/assets/img/barn.jpg" style="width: 32rem"></img>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-6 text-left p-5">
            <h4><span class="flag-icon flag-icon-ca px-3"></span> Established in Canada with Belgian Roots <span class="flag-icon flag-icon-be px-3"></span></h4> 
            <p>
                Jamie Lee Equestrian was established in 2019 by Jamie Lee and Joël Forest with the intention of breeding <strong>the best Belgian Warmbloods in Canada.</strong> They started their journey when they moved onto their agricultural property in Winnipeg, Manitoba, Canada.
                Situated in the heart of the prairies, the farm is surrounded by a mixture of agricultural land and the Assiniboine Forest.
            </p>
            <p>
                We are located within 1 hour of most of Manitobas circuit horse shows and only 15 minutes directly south of downtown Winnipeg as well as the Winnipeg International airport. 
                Our purpose built state-of-the-art facility offers exceptional care catering to the needs of both horse and rider in a relaxed setting.
            </p>
            <div class="row py-2">
                <a href="{{site.baseurl}}/farm" class="btn btn-secondary d-block mx-auto">Learn more about our farm</a>
            </div>
            
        </div> 
    </div>
</div>

