<footer class="footer-section" id="contact">
    <div class="container">
        <div class="footer-cta pt-4 py-4 text-center">
            <div class="row">
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Location</h4>
                            <row><li class="fab fa-canadian-maple-leaf canada"><span> Manitoba, Canada</span></li></row>
                            <ul><li class="fas fa-envelope"><span> {{site.data.settings.contact.mail}}</span></li></ul>    
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span><a href="tel:{{site.data.settings.contact.tel}}">{{site.data.settings.contact.tel_display}}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span><a href="mailto:{{site.data.settings.contact.email}}">{{site.data.settings.contact.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-4 pb-4">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
            <div class="footer-social-icon">
            <a href="{{site.data.settings.social.facebook}}"><i class="fab fa-facebook-f facebook-bg"></i></a>
            <a href="{{site.data.settings.social.youtube}}"><i class="fab fa-youtube youtube-bg"></i></a>
            <a href="{{site.data.settings.social.instagram}}"><i class="fab fa-instagram instagram-bg"></i></a>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>, All Right Reserved {{site.data.settings.website.corporation}} + Made with <span class="heart">♥</span> by Joël Forest</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>