  <!-- English Modal -->
  <div class="modal fade" id="englishModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="englishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="englishModalLabel">Language Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <span class="flag-icon flag-icon-ca py-1" alt="Canadian Flag"></span>
          Would you like to switch the language settings to <strong> English</strong>?
          Souhaitez-vous modifier les paramètres de langue en <strong>Anglais</strong>?
        </div>
        <div class="modal-footer">
          <a href="#" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No (Non)</a>
          <a href="{{site.baseurl}}/" type="button" class="btn btn-primary">Yes (Oui)</a>
        </div>
      </div>
    </div>
  </div>

<!-- French Modal -->
  <div class="modal fade" id="frenchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="frenchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="frenchModalLabel">Language Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <span class="flag-icon flag-icon-be py-1" alt="Belgian Flag"></span>
          Would you like to switch the language settings to <strong> French</strong>?
          Souhaitez-vous modifier les paramètres de langue en <strong>Français</strong>?
        </div>
        <div class="modal-footer">
          <a href="#" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non (No)</a>
          <a href="{{site.baseurl}}/fr" type="button" class="btn btn-primary">Oui (Yes)</a>
        </div>
      </div>
    </div>
  </div>